.menuButton {
    color: black;
    text-decoration: none;
    font-size: 30px;
    background-color: #c8f3ce;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif; 
    border-radius: 5%;
    font-weight: bold;
    display: block;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    align-items:flex-end;
    margin-bottom: 40px;
}

.buttonRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

.buttonRow div {
    margin-right: 10px;
}

.fbpopup {
    background-color: #ffeba6;
    border-radius: 5%;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 90%;
    margin-top: 2%;
}

.buttonRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

.buttonRow button {
    margin-right: 10px;
}


.fbClose-btn{
    background-color: #000000;
    color: white;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}

@media (max-width: 730px){
    .fbClose-btn{
        margin-left: 90%;
    }

    textarea{
        width: 95%;
        height: 80%;
        margin: 12% 0% 5% 0;
        display: block;
    }

    .adminFbClose-btn{
        margin-left: 90%;
    }
}

textarea{
    width: 95%;
    height: 80%;
    margin: 3% 0% 5% 0;
    display: block;
}

.fbform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.fbSubmitButton{
    color: rgb(255 255 255);
    background-color: #000000;
    margin-bottom: 10px;
    border-radius: 5%;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif; 
}

.ratingContainer {
    display: flex;
    margin-bottom: 2%;
}
  
.star {
    font-size: 40px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
    letter-spacing: 14px;
    margin-bottom: 5%;
}
  
.selected {
    color: #ffc107;
}

.adminFbClose-btn{
    background-color: #effff9;
    border-radius: 10px;
    position: relative;
    margin-left: 95%;
    width: 30px;
    height: 30px;
}


.adminFBpopup {
    background-color: #fff3c8;
    border-radius: 5%;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    top: 10%;
    position: fixed;
    overflow-y: auto;
    height: 80%;
    width: 80%;
}

.adminFB {
    margin-right: 40px !important;
}

.adminFB table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #0b0b0b;
    margin: 1% 0% 10% 2%;
}

.adminFB th,
.adminFB td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


.adminFB th {
    background-color: #f9f9f9;
}

.adminFB td:nth-child(6) {
  width: 15%;
}

.adminFB td:nth-child(3) {
    width: 40%;
}

.sortHeader{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif; 
}



.statusCss{
    background-color: #fff3c8;
    padding: 8px;
    text-align: left;
}

.searchWord{
    margin-right: 0% !important;
    margin-top: 10%;
}

.searchDefinition{
    margin: 5% 3% 5% 3% !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.typedWord{
    text-align: center !important;
    width: 100%;
    margin-top: 5%;
}

.helpInstruction {
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    margin-right: 0 !important;
    scrollbar-width: none;  /* Hiding scrollbar for Firefox */
	-ms-overflow-style: none;  /* IE and Edge */
}

.helpInstruction p {
    margin-bottom: 5%;
}

.helpTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Times New Roman', Times, serif; 
    letter-spacing: 2px;
}

.HelpModelPopup{
    background-color: #fbe490;
    border-radius: 1%;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    width: 80%;
    left: 10%;
    position: fixed;
    bottom: 13%;
    max-height: 80%; /* Added max-height to prevent the popup from taking the entire screen */
    overflow-y: auto;
    scrollbar-width: none;  /* Hiding scrollbar for Firefox */
	-ms-overflow-style: none;  /* IE and Edge */
}

/* Hiding scrollbar for Chrome, Safari and Opera */
.helpInstruction::-webkit-scrollbar {
    display: none;
}
.HelpModelPopup::-webkit-scrollbar {
    display: none;
}

.buttonColumn{
    background-color: #fbe490;
}

.submitButtonAW{
    padding: 8px;
    margin-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #fbe490;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif; 
}

.deleteButtonAW{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #fbe490;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif; 
}

.submitButtonAW:hover {
    transform: translateY(-5px);
}
.deleteButtonAW:hover {
    transform: translateY(-5px);
}

.sortHeaderAW{
    padding: 8px;
    margin-top: 19px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif; 
}


.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color:#c7fcd1;
    font-family: 'Times New Roman', Times, serif; 
    overflow:auto;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}

/* Hiding scrollbar for Chrome, Safari and Opera */
.App::-webkit-scrollbar {
    display: none;
}

.App-header{
    color: #cedcc5;
    background-color: #04a670;
    z-index: 1;
    text-align: center;
    width: 450px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: 3px solid transparent;
}
  